body {
    background-color: #eee7e7;
    color: #333;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    width: 80%;
    margin: auto;
}

.logo-background {
    background-image: url('../images/logo.jpeg');
    background-repeat: no-repeat;
    background-position: left;
    background-size: 100px;
    background-color: #fff;
}

.logo-background h1,
.logo-background h2 {
    margin-left: 120px;
}

nav {
    background-color: #333;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1rem;
}

main {
    padding: 1rem;
    background-color: #fff;
}

.section-container {
    display: flex;
    justify-content: space-between;
}

.section-container section {
    flex: 1;
    margin: 10px;
    padding: 20px;
    box-sizing: border-box;
}

.skills-gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.skills-gallery img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}


#mainCarousel { margin-bottom: 20px; }

#mainCarousel .carousel-inner,
#mainCarousel .carousel-inner > .item { 
  height: 400px;               
}

#mainCarousel .carousel-inner > .item > img {
  width: 100%;
  height: 100% !important;    
  object-fit: cover;           
  display: block;
}
